html, body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif; 
    
}

h1{
    position:absolute;
    top:0px;
    right:10px;
    background-color: white;
    padding:5px;
    border-radius:10px;
    border:none;
    
}
#wrapper {
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: #185201;
    border-radius: 80px;
    padding: 10px;
    border: 10px solid black;
    margin:2px 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

#opponent-face, #players-face{
    margin-left:25px;
    font-size:8vh;
    position: absolute;
    z-index: 99;
}
#opponent-deck, #player-deck, #discard-pile {
    padding:4px;
    height:24vh;
    cursor:pointer;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
}


#opponent-deck div.deck , #player-deck div.deck {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    position: relative;
    clear: both;
}

#opponent-deck div.deck li, #player-deck div.deck li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}


#opponent-deck div.deck li, #player-deck div.deck li {
    position: absolute;
}

#player-deck .card.back, #opponent-deck .card.back {
    text-indent: -4000px;
    background-color: #ccc;
    background-repeat: repeat;
    
    background-image: -moz-repeating-linear-gradient(34% 6% 135deg,#0F1E59, #75A1BF, #3E3E63 50%);
    background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#3c3), color-stop(0.4, #363), to(#030));
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
    /* yes, it's intentional that Mozilla, Webkit, Opera and IE all will get different backgrounds ... why not? :) */
}

#opponent-deck{
    margin-right:45vw;
    margin-top: 48px
}

#player-deck {
    margin-left:45vw;
}


#opponent-Cards, #player-Cards{
    color:white;
    font-size: 20px;
    text-align: center;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}
#discard-pile {
    margin: 4vh 0px;
    visibility: hidden;
}
#high-five{
    width:18vh;
    height:24vh;
    position:absolute;
    visibility: visible;
}
#discard-pile > * {
    pointer-events:none;
}
.card{
    width:18vh;
    height:24vh;
    margin-bottom:5px;
    border-radius:5px;
    font-family:courier;
    cursor:pointer;
    background-color: white; 
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
}
.card li{

    border:1px solid #151718;

}

.card-front {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.6em;
    
    border:1px solid #151718;
}
.right-side-up {
    position:absolute;
    left:0.4vh;
    top:0.4vh;
}

.flipped {
    position:absolute;
    right:0.4vh;
    bottom:0.4vh;
    transform: rotate(180deg);
}

.card-art {
    display:flex;
    flex-flow: row wrap;
}

.card-art > * {
    flex: 50%;
    text-align:center;
    font-size: 1.2em;
    line-height: .9;
    padding: 0;
    margin: 0;
}

.red {
    color: #FF0000;
}
.active {
    box-shadow: -10px 8px 18px 5px rgba(255, 255, 255, 0.75);
}
#play-again-wrapper {
    z-index:999;
    position:absolute;
    display:none;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    flex-flow: column;
    justify-content: center;
    background-color: #000000bd;
}

#play-again-control, #win-lose-status {
    padding: 5vh 0;
    margin-left:2vh;
    margin-top:2vh;
    border-radius: 5px;
    width:100%;
    background-color: #FFFFFF;
    text-align:center;
}
button{
    background-color: royalblue;
    color: #fff;
    padding: 20px 30px;
    font-size: 24px;
    margin: 30px;
    border-radius: 5px;
}

.clear{
    clear: both;
}

#popUp{
    position: absolute;
    z-index: 99;
    color: red;
    /* background-color: rgba(236, 236, 236, 0.61); */
    height: 100%;
    width: 100%;

}
#popUp p{
    padding: 15px;
    border-radius: 5px;
    font-size: 24px;
    background-color: black;
    text-align: center;
    margin-left:37%;
    margin-right:37%;
    margin-top:24%;
}
